- name: A simple test
  hosts: localhost
  tasks:
    - name: Create a simple test file
      ansible.builtin.copy:
        dest: /tmp/prepared
        content: pass
        mode: preserve
    - name: Check the file content
      ansible.builtin.command: grep pass /tmp/prepared
      changed_when: false
