{#
    A Jinja2 template for rendering HW requirement support matrix in tmt's own docs.
#}

.. _/plugins/provision/hardware-requirement-support-matrix:

Hardware requirement support
----------------------------

Below you can find a matrix documenting which hardware requirement are
supported by plugins bundled with tmt.

.. role:: supported

.. role:: unsupported

.. list-table::
   :header-rows: 1

   * - Requirement
    {% for plugin in MATRIX['memory'].keys() %}
        {% if plugin == 'virtual.testcloud' %}
     - ``virtual``
         {% else %}
     - ``{{ plugin }}``
         {% endif %}
    {% endfor %}

{% for requirement, plugins in MATRIX.items() %}
   * - :ref:`{{ requirement }}{# djlint:off #}</spec/hardware/{# djlint:on H025 #}{{ requirement }}>`
    {% for plugin, (enabled, note_id) in plugins.items() %}
        {% if enabled %}
     - ✅{% if note_id %} [{{ note_id }}]_{% endif %}

        {% else %}
     - ❌

        {% endif %}
    {% endfor %}
{% endfor %}

{% for note in NOTES %}
.. [{{ loop.index }}] {{ note }}
{% endfor %}
