:tocdepth: 0

.. _/plugins/{{ STEP }}:

{{ STEP | replace('-', ' ') | capitalize }} Plugins
{{ '~' * (8 + (STEP | length)) }}

{% for PLUGIN_ID, PLUGIN, PLUGIN_DATA_CLASS in PLUGINS() %}

.. _plugins/{{ STEP }}/{{ PLUGIN_ID | trim }}:

{{ PLUGIN_ID }}
{{ '-' * (PLUGIN_ID | length)}}

{# Emit the warning only for plugins that have not been reviewed yet. #}
{% set plugin_full_id = STEP + "/" + PLUGIN_ID %}
{% if plugin_full_id not in REVIEWED_PLUGINS %}
.. warning::

    Please, be aware that the documentation below is a work in progress. We are
    working on fixing it, adding missing bits and generally making it better.
    Also, it was originaly used for command line help only, therefore the
    formatting is often suboptional.
{% endif %}

{% if PLUGIN.__doc__ %}
{{ PLUGIN.__doc__ | dedent | trim }}
{% endif %}

Configuration
^^^^^^^^^^^^^

{% macro render_field(field_name) %}
    {% set _, option, _, metadata = container_field(PLUGIN_DATA_CLASS, field_name) %}

    {% if metadata.metavar %}
{{ option }}: ``{{ metadata.metavar }}``
    {% elif metadata.default is boolean %}
{{ option }}: ``true|false``
    {% else %}
{{ option }}:
    {% endif %}
    {% if metadata.help %}
{{ metadata.help | trim | indent(4, first=true) }}
    {% endif %}
    {% if metadata.has_default %}
        {% set actual_default = metadata.materialized_default %}

        {% if actual_default is boolean %}
    Default: ``{{ actual_default | string | lower }}``
        {% elif actual_default is string %}
    Default: ``{{ actual_default }}``
        {% elif actual_default is integer %}
    Default: ``{{ actual_default }}``
        {% elif actual_default is none %}
    Default: *not set*
        {% elif actual_default is sequence %}
            {% if not actual_default %}
    Default: *not set*
            {% else %}
    Default: {% for default_item in actual_default %}``{{ default_item.pattern | default(default_item) }}`` {% endfor %}
            {% endif %}
        {% else %}
            {% set _ = LOGGER.warn("%s/%s.%s: could not render default value, '%s'" | format(STEP, PLUGIN_ID, field_name, actual_default)) %}
    Default: *could not render default value correctly*
        {% endif %}
    {% endif %}
{%endmacro %}

{% set ignored_fields = container_ignored_fields(PLUGIN_DATA_CLASS) %}
{% set inherited_fields = container_inherited_fields(PLUGIN_DATA_CLASS) | sort %}
{% set intrinsic_fields = container_intrinsic_fields(PLUGIN_DATA_CLASS) | sort %}

{% for field_name in intrinsic_fields %}
{{ render_field(field_name) }}
{% endfor %}

{% if inherited_fields %}
Common Keys
"""""""""""

{% for field_name in inherited_fields %}
{{ render_field(field_name) }}
{% endfor %}
{% endif %}

{% if not loop.last %}
----
{% endif %}
{% endfor %}
