:tocdepth: 0

.. _/spec/test-checks:

Tests Checks
============

In some cases we want to run additional checks while running a
test. A nice example is a check for unexpected SELinux AVCs
produced during the test, this can point to additional issues
the user can run into. Another useful checks would be kernel
panic detection, core dump collection or collection of system
logs.

See the :ref:`/spec/tests/check` key for specification and more
examples. Below, you will find test check plugins shipped with
tmt.

{% for PLUGIN_ID in REGISTRY.iter_plugin_ids() %}
    {% set PLUGIN = REGISTRY.get_plugin(PLUGIN_ID) %}

.. _spec/test-checks/{{ PLUGIN_ID | strip }}:

{{ PLUGIN_ID }}
{{ '^' * (PLUGIN_ID | length)}}

{% if PLUGIN.__doc__ %}
{{ PLUGIN.__doc__ | dedent | strip }}
{% endif %}

**Configuration**

{% for field in container_fields(PLUGIN._check_class) %}
    {% if field.name != "how" %}
        {% set _, option, _, metadata = container_field(PLUGIN._check_class, field.name) %}

        {% if metadata.metavar %}
{{ option }}: ``{{ metadata.metavar }}``
        {% elif metadata.default is boolean %}
{{ option }}: ``true | false``
        {% else %}
{{ option }}: ...
        {% endif %}
        {% if metadata.help %}
{{ metadata.help | strip | indent(4, first=true) }}
        {% endif %}
    {% endif %}
{% endfor %}

{% endfor %}
