@import 'css/theme.css';
@import 'custom.css';

/* Used for HW requirement support matrix */
.supported   { color: green; }
.unsupported { color: red; }
.logo {
    padding: 10px 50px !important;
}

.rst-content .note .admonition-title {
  display: block !important;
}

.rst-content .warning .admonition-title {
  display: block !important;
}
