name: release

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      ref:
        description: 'Tag to release'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest

    # Needed for trusted publishing
    permissions:
      id-token: write

    steps:

      # Check out the repo
      - uses: actions/checkout@v4
        if: ${{ github.event_name == 'release' }}
        with:
          persist-credentials: false
      - uses: actions/checkout@v4
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          ref: ${{ github.event.inputs.ref }}
          persist-credentials: false

      # Setup python
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      # Build it
      - name: Build a binary wheel and a source tarball
        run: |
            python -m pip install hatch
            hatch build

      # Publish it
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
